
{% load static %}
<div id="contact" class="mt-8 md:mt-10 pt-14 bg-black">
    <div id="contact-inner" class="flex flex-col items-center p-2 md:p-5">
        <div id="contact-wrapper" class="my-6 grid md:grid-cols-2 max-w-6xl mx-7 gap-4">
            
            <div id="contact-main" class="row-span-2 md:mt-4">
                <h3 id="projects-heading" class="intertight text-neutral-100 text-4xl md:text-5xl mb-4" style="font-weight: 700;">
                    {{ c.base.cta.title |safe }}
                </h3>
                <p class="max-w-md text-lg my-5 text-neutral-200">
                    {{ c.base.cta.description }} <span class="code text-b400 inline-block px-2">{{ c.credentials.email }}</span>
                </p>
                <a id="contact-social" href="mailto:{{ c.credentials.email }}" class="inline-block p-3 px-7 border rounded-3xl border-2 border-black bg-accent hover:border-accent transition duration-300 ease-in-out">
                    <p class="contact-social-text text-b700 text-lg align-middle text-center text-black">
                        {{ c.base.cta.button }}
                    </p>
                </a>
            </div>

            <div class="flex flex-col items-center md:items-end">
                <div class="inline-block">
                    {% for key, value in c.credentials.links.items %}
                        <a id="contact-social" href="{{ value.0 }}" target="_blank" class="block w-full p-3 px-5 m-3 bg-gray-800 border-2 border-transparent rounded-full hover:border-white transition duration-300 ease-in-out">
                            <img src="{{ value.1 }}" alt="{{ key }} icon" id="contact-social-icon" class="inline-block w-6 h-6 mr-3 invert">
                            <p class="contact-social-text inline-block text-b500 align-middle text-gray-200">
                                {{ key }} @ {{ value.2 }}
                            </p>
                        </a>
                    {% endfor %}
        
                    <a id="contact-social" href="{{ c.credentials.cvlink }}" target="_blank" class="block w-full p-3 px-5 m-3 bg-gray-800 border-2 border-transparent rounded-full hover:border-white transition duration-300 ease-in-out">
                        <p class="contact-social-text inline-block text-b500 align-middle text-gray-200">
                            <img src="{% static 'icons/user.png' %}" alt="User" id="contact-social-icon" class="inline-block w-6 h-6 mr-3 invert">
                            {{ c.base.contactCvText }}
                        </p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>